cembs/App_WebReferences/CEMServiceReference/cemservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cemservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.furthermoresolutions.com/CEMService/cemservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.furthermoresolutions.com/CEMService/cemservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.furthermoresolutions.com/CEMService/cemservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CEMService" />
      <xsd:import schemaLocation="http://www.furthermoresolutions.com/CEMService/cemservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Icemservice_insert_quote_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_quote" />
  </wsdl:message>
  <wsdl:message name="Icemservice_insert_quote_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_quoteResponse" />
  </wsdl:message>
  <wsdl:message name="Icemservice_mail_cloud_quote_InputMessage">
    <wsdl:part name="parameters" element="tns:mail_cloud_quote" />
  </wsdl:message>
  <wsdl:message name="Icemservice_mail_cloud_quote_OutputMessage">
    <wsdl:part name="parameters" element="tns:mail_cloud_quoteResponse" />
  </wsdl:message>
  <wsdl:message name="Icemservice_mail_quote_InputMessage">
    <wsdl:part name="parameters" element="tns:mail_quote" />
  </wsdl:message>
  <wsdl:message name="Icemservice_mail_quote_OutputMessage">
    <wsdl:part name="parameters" element="tns:mail_quoteResponse" />
  </wsdl:message>
  <wsdl:message name="Icemservice_domains_InputMessage">
    <wsdl:part name="parameters" element="tns:domains" />
  </wsdl:message>
  <wsdl:message name="Icemservice_domains_OutputMessage">
    <wsdl:part name="parameters" element="tns:domainsResponse" />
  </wsdl:message>
  <wsdl:message name="Icemservice_IsValidMail_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidMail" />
  </wsdl:message>
  <wsdl:message name="Icemservice_IsValidMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidMailResponse" />
  </wsdl:message>
  <wsdl:portType name="Icemservice">
    <wsdl:operation name="insert_quote">
      <wsdl:input wsaw:Action="http://tempuri.org/Icemservice/insert_quote" message="tns:Icemservice_insert_quote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icemservice/insert_quoteResponse" message="tns:Icemservice_insert_quote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mail_cloud_quote">
      <wsdl:input wsaw:Action="http://tempuri.org/Icemservice/mail_cloud_quote" message="tns:Icemservice_mail_cloud_quote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icemservice/mail_cloud_quoteResponse" message="tns:Icemservice_mail_cloud_quote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mail_quote">
      <wsdl:input wsaw:Action="http://tempuri.org/Icemservice/mail_quote" message="tns:Icemservice_mail_quote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icemservice/mail_quoteResponse" message="tns:Icemservice_mail_quote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="domains">
      <wsdl:input wsaw:Action="http://tempuri.org/Icemservice/domains" message="tns:Icemservice_domains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icemservice/domainsResponse" message="tns:Icemservice_domains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidMail">
      <wsdl:input wsaw:Action="http://tempuri.org/Icemservice/IsValidMail" message="tns:Icemservice_IsValidMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Icemservice/IsValidMailResponse" message="tns:Icemservice_IsValidMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Icemservice" type="tns:Icemservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert_quote">
      <soap:operation soapAction="http://tempuri.org/Icemservice/insert_quote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mail_cloud_quote">
      <soap:operation soapAction="http://tempuri.org/Icemservice/mail_cloud_quote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mail_quote">
      <soap:operation soapAction="http://tempuri.org/Icemservice/mail_quote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="domains">
      <soap:operation soapAction="http://tempuri.org/Icemservice/domains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidMail">
      <soap:operation soapAction="http://tempuri.org/Icemservice/IsValidMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cemservice">
    <wsdl:port name="BasicHttpBinding_Icemservice" binding="tns:BasicHttpBinding_Icemservice">
      <soap:address location="http://www.furthermoresolutions.com/CEMService/cemservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>